extends layout

block content
	.padding20px
	.container-fluid
		.jumbotron
			h1 Wailani Enterprises
			p
				| Beautiful handmade soaps inspired by the sights and smells of the Hawaiian Islands
			p
				a.btn.btn-primary.btn-lg(href='/allsoap', role='button') Shop All Soaps
	.container-fluid

	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='bootstrap/js/bootstrap.min.js')