extends layout

block content
	.padding20px
	.container-fluid
		.jumbotron
			.jumbotext
				h1 Wailani Enterprises
				p
					| Beautiful handmade soaps inspired by the sights and smells of the Hawaiian Islands
				p
					a.btn.btn-primary.btn-lg(href='/allsoap', role='button') Shop All Soaps
	.container-fluid
		.row
			.col-med-12.titlerow
				.titlediv
					h3.sectiontitle Featured Products
		.row
			.col-md-4.productpadded
				.productdiv
					img(src="/img/bigisland.jpeg")
					h4 Big Island Fire
					p Cupcake ipsum dolor sit. Amet sweet sweet croissant. Jelly-o chocolate cake marshmallow cake. Jelly sweet roll pastry topping halvah sugar plum muffin cupcake. Macaroon pudding jelly jelly-o ice cream cupcake oat cake ice cream. Oat cake topping powder tart dessert gummies chupa chups. Sesame snaps soufflé biscuit. Halvah macaroon pudding. Gingerbread liquorice icing pudding candy lollipop cupcake jelly-o.
					h5 $4.00
					a.btn.btn-default(href="#") Add to Cart
			.col-md-4.productpadded
				.productdiv
					img(src="/img/lotus.jpeg")
					h4 Lotus
					p Cupcake ipsum dolor sit. Amet sweet sweet croissant. Jelly-o chocolate cake marshmallow cake. Jelly sweet roll pastry topping halvah sugar plum muffin cupcake. Macaroon pudding jelly jelly-o ice cream cupcake oat cake ice cream. Oat cake topping powder tart dessert gummies chupa chups. Sesame snaps soufflé biscuit. Halvah macaroon pudding. Gingerbread liquorice icing pudding candy lollipop cupcake jelly-o.
					h5 $4.00
					a.btn.btn-default(href="#") Add to Cart
			.col-md-4.productpadded
				.productdiv
					img(src="/img/lehua.jpeg")
					h4 Lehua
					p Cupcake ipsum dolor sit. Amet sweet sweet croissant. Jelly-o chocolate cake marshmallow cake. Jelly sweet roll pastry topping halvah sugar plum muffin cupcake. Macaroon pudding jelly jelly-o ice cream cupcake oat cake ice cream. Oat cake topping powder tart dessert gummies chupa chups. Sesame snaps soufflé biscuit. Halvah macaroon pudding. Gingerbread liquorice icing pudding candy lollipop cupcake jelly-o.
					h5 $4.00
					a.btn.btn-default(href="#") Add to Cart



	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='bootstrap/js/bootstrap.min.js')