body {
	padding-top:50px;
	background: #FFFEFF;

}

.jumbotron, .headercont {
	background: url('img/hawaiijumbotron.jpeg');
	background-size: cover;
}

.jumbotron h1, .jumbotron p {
	color: #808080;
}

.padding20px {
	height: 20px;
}